{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load bulma_tags %}
{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block body %}

<body style="background-image: url({% static 'img/bg1.jpg' %});">
<div class="text-center">
    <h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to
{{site_name}}. As a yolo final step, please complete the following form:{% endblocktrans %}</p>
</div>

<form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
    <div class="tile is-parent is-10" style="padding-top: 80px; padding-left: 320px; padding-right: 80px; ">
      <article class="tile is-child box">
        <p class="title has-text-centered">{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to
            {{site_name}}. As a final step, please complete the following form:{% endblocktrans %}</p>
        <div class="content">
{% csrf_token %}
{{ form|bulma }}
{% if redirect_field_value %}
<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
{% endif %}

    <center><button class="button is-success is-rounded" type="submit">{% trans "Sign Up" %}</button></center>
</div>
</article>
</div>
</form>


  <br>
</body>

{% endblock %}