{% extends "base.html" %}
{% load static %}
{% load bulma_tags %}
{% load i18n %}
{% load account socialaccount %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block body %}

<body style="background-image: url({% static 'img/bg1.jpg' %});">

<h1>{% trans "Sign In" %}</h1>


<form class="login" method="POST" action="{% url 'account_login' %}">
  <div class="tile is-parent is-10" style="padding-top: 80px; padding-left: 320px; padding-right: 80px; ">
    <article class="tile is-child box">
      <p class="title has-text-centered">Login</p>
      <div class="content">

        {% csrf_token %}
        {{ form|bulma }} 
        <center>
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="button is-success is-rounded" type="submit">{% trans "Login" %}</button>
        <a class="button is-danger is-rounded" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
      

        {% get_providers as socialaccount_providers %}

        {% if socialaccount_providers %}
        
        <div class="socialaccount_ballot" style="padding-right: 20px;">

          <ul class="socialaccount_providers">
            {% include "account/snippets/provider_list.html" with process="login" %}
          </ul>

        </div>

        {% include "socialaccount/snippets/login_extra.html" %}

        <p>Don't have an account ?<a href="{{ signup_url }}"> Sign up</a>
          </p>
  

        {% else %}
        <p>{% blocktrans %}If you have not created an account yet, then please
        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
        {% endif %}
       </center>

    </div>
</article>
</div>

</form>
<br>


{% endblock body %}

</body>