{% extends "base.html" %}
{% load static %}
{% load bulma_tags %}
{% load i18n %}
{% block head_title %}{% trans "Set Password" %}{% endblock %}
{% block body %}

<body style="background-image: url({% static 'img/bg1.jpg' %});">

<form method="POST" action="{% url 'account_set_password' %}" class="password_set">
    <div class="tile is-parent is-10" style="padding-top: 80px; padding-left: 320px; padding-right: 80px; ">
        <article class="tile is-child box">
            <p class="title has-text-centered">Set Password</p>
            <div class="content">
                {% csrf_token %}
                {{ form|bulma }}
                <center>
                <input class="button is-success is-rounded" type="submit" name="action" value="{% trans 'Set Password' %}"/>
                </center>
            </div>
        </article>
    </div>        
</form>
<br>

{% endblock body %}

</body>
