{% extends "base.html" %}
{% load static %}
{% load bulma_tags %}
{% load i18n %}
{% load account %}
{% block head_title %}{% trans "Password Reset" %}{% endblock %}
{% block body %}

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

<body style="background-image: url({% static 'img/bg1.jpg' %});">

<form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
    <div class="tile is-parent is-10" style="padding-top: 80px; padding-left: 320px; padding-right: 80px; ">
        <article class="tile is-child box">
            <p class="title has-text-centered">Password Reset</p>
            <div class="content">
                <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
                {% csrf_token %}
                {{ form|bulma }}
                <center>
                <input type="submit" class="button is-success is-rounded" value="{% trans 'Reset My Password' %}" />
                <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
               </center>
            </div>
        </article>
    </div>             
</form>
<br>

{% endblock body %}


</body>