{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block body %}

<body style="background-image: url({% static 'img/bg1.jpg' %});">

<div class="tile is-parent is-10" style="padding-top: 80px; padding-left: 320px; padding-right: 80px; ">
    <article class="tile is-child box">
        <div class="content">
        <h1>{% trans "Change Password" %}</h1>
        <p>{% trans 'Your password is now changed.' %}</p>
        </div>
    </article>
</div>

{% endblock body %}

</body>