{% extends "base.html" %}
{% load static %}
{% load bulma_tags %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block body %}

<body style="background-image: url({% static 'img/bg1.jpg' %});">

<form method="POST" action="{% url 'account_change_password' %}" class="password_change">
    <div class="tile is-parent is-10" style="padding-top: 80px; padding-left: 320px; padding-right: 80px; ">
        <article class="tile is-child box">
            <p class="title has-text-centered">Change Password</p>
            <div class="content">
            {% csrf_token %}
            {{ form|bulma }}
            <center>
            <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            <button type="submit" name="action" class="button is-success is-rounded">{% trans "Change Password" %}</button>
            </center>
        </div>
    </article>
    </div>        
</form>

{% endblock body %}

</body>
