{% extends 'base.html' %}

{% load static %}

{% block body %}

<div class="columns is-mobile" style="padding-top: 100px;">
 <div class="column is-offset-one-fifth">

    <form action="">
    <div class="field has-addons">
        <div class="control">
          <input class="input is-large" name="q" type="text" placeholder="Search users...." value="{{ request.GET.q }}">
        </div>
        <div class="control">
          <button type="submit" class="button is-success is-large">Search</button>
        </div>
      </form>
    </div>

</div>
</div>

<div class="column is-one-quarter">

    {% for user in users %}
    <div class="box">
        <article class="media">
            <div class="media-left">
            <figure class="image is-64x64">
                {% if user.picture %}
                    <img src="{{ user.picture.url }}" alt="Placeholder image">
                {% else %}
                    <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                {% endif %}
            </figure>
            </div>
            <div class="media-content">
            <div class="content">
                <p>
                <strong>{{ user.first_name }} {{ user.last_name }}</strong> <small>@{{ user.username }}</small>
                <br>
                </p>
                <a href="{% url 'accounts:newconversation' user.username %}" class="button is-info">Send a message !</a>
            </div>
            </div>
        </article>
        </div>
    {% endfor %}

</div>

{% endblock body %}