{% extends 'base.html' %}
{% load static %}
{% block body %}

      <style>
        .card-horizontal {
              display: flex;
              flex: 1 1 auto;
        }
      </style>


        <section class="section">
          <div class="container">
            <div class="columns">
              <div class="tile is-ancestor">
                <div class="column is-3">
                  <div class="tile is-parent">
                    <article class="tile is-child box">
                      <p class="title">Side column</p>
                      <p class="subtitle">With some content</p>
                      <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
                      </div>
                    </article>
                  </div>
               </div>

                
            <div class="container" style="padding-top: 12px;">
              <div class="row">

                  <div class="col-12 mt-3">
                      <div class="card">
                          <div class="card-horizontal">
                              <div class="img-square-wrapper">
                                  <img class="" src="{% static 'img\3.jpg' %}" alt="Card image cap" width="300" height="400">
                              </div>
                              <div class="card-body">
                                  <h4 class="card-text title is-4" style="padding-left: 20px;">Land Rover Range Rover Velar 2019</h4>
                                  <p class="card-text" style="padding-left: 20px;">
                                    21,000 km Petrol Marappa Garden
                                  </p>
                                  <p class="title is-4 card-text" style="padding-left: 20px; padding-top: 10px;">₹ 80.2 Lakh</p>
                                  <p style="padding-left: 600px;">
                                    <button class="button is-link is-outlined  is-fullwidth">View Details</button>
                                  </p>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="col-12 mt-3">
                    <div class="card">
                        <div class="card-horizontal">
                            <div class="img-square-wrapper">
                                <img class="" src="{% static 'img\3.jpg' %}" alt="Card image cap" width="300" height="400">
                            </div>
                            <div class="card-body">
                                <h4 class="card-text title is-4" style="padding-left: 20px;">Land Rover Range Rover Velar 2019</h4>
                                <p class="card-text" style="padding-left: 20px;">
                                  21,000 km Petrol Marappa Garden
                                </p>
                                <p class="title is-4 card-text" style="padding-left: 20px; padding-top: 10px;">₹ 80.2 Lakh</p>
                                <p style="padding-left: 600px;">
                                  <button class="button is-link is-outlined  is-fullwidth">View Details</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 mt-3">
                  <div class="card">
                      <div class="card-horizontal">
                          <div class="img-square-wrapper">
                              <img class="" src="C:\Users\Adithya M P\Desktop\Templates\dealership\img\3.jpg" alt="Card image cap" width="300" height="400">
                          </div>
                          <div class="card-body">
                              <h4 class="card-text title is-4" style="padding-left: 20px;">Land Rover Range Rover Velar 2019</h4>
                              <p class="card-text" style="padding-left: 20px;">
                                21,000 km Petrol Marappa Garden
                              </p>
                              <p class="title is-4 card-text" style="padding-left: 20px; padding-top: 10px;">₹ 80.2 Lakh</p>
                              <p style="padding-left: 600px;">
                                <button class="button is-link is-outlined  is-fullwidth">View Details</button>
                              </p>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col-12 mt-3">
                <div class="card">
                    <div class="card-horizontal">
                        <div class="img-square-wrapper">
                            <img class="" src="C:\Users\Adithya M P\Desktop\Templates\dealership\img\4.jpg" alt="Card image cap" width="300" height="400">
                        </div>
                        <div class="card-body">
                            <h4 class="card-text title is-4" style="padding-left: 20px;">Land Rover Range Rover Velar 2019</h4>
                            <p class="card-text" style="padding-left: 20px;">
                              21,000 km Petrol Marappa Garden
                            </p>
                            <p class="title is-4 card-text" style="padding-left: 20px; padding-top: 10px;">₹ 80.2 Lakh</p>
                            <p style="padding-left: 600px;">
                              <button class="button is-link is-outlined  is-fullwidth">View Details</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 mt-3">
              <div class="card">
                  <div class="card-horizontal">
                      <div class="img-square-wrapper">
                          <img class="" src="C:\Users\Adithya M P\Desktop\Templates\dealership\img\4.jpg" alt="Card image cap" width="300" height="400">
                      </div>
                      <div class="card-body">
                          <h4 class="card-text title is-4" style="padding-left: 20px;">Land Rover Range Rover Velar 2019</h4>
                          <p class="card-text" style="padding-left: 20px;">
                            21,000 km Petrol Marappa Garden
                          </p>
                          <p class="title is-4 card-text" style="padding-left: 20px; padding-top: 10px;">₹ 80.2 Lakh</p>
                          <p style="padding-left: 600px;">
                            <button class="button is-link is-outlined  is-fullwidth">View Details</button>
                          </p>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-12 mt-3">
            <div class="card">
                <div class="card-horizontal">
                    <div class="img-square-wrapper">
                        <img class="" src="C:\Users\Adithya M P\Desktop\Templates\dealership\img\3.jpg" alt="Card image cap" width="300" height="400">
                    </div>
                    <div class="card-body">
                        <h4 class="card-text title is-4" style="padding-left: 20px;">Land Rover Range Rover Velar 2019</h4>
                        <p class="card-text" style="padding-left: 20px;">
                          21,000 km Petrol Marappa Garden
                        </p>
                        <p class="title is-4 card-text" style="padding-left: 20px; padding-top: 10px;">₹ 80.2 Lakh</p>
                        <p style="padding-left: 600px;">
                          <button class="button is-link is-outlined  is-fullwidth">View Details</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>

              </div>
          </div>

          

            </div>
          </div>
        </section>

        <section class="section">
          <div class="container">

            <nav class="pagination is-rounded" role="navigation" aria-label="pagination">
              <a class="pagination-previous">Previous</a>
              <a class="pagination-next">Next page</a>
              <ul class="pagination-list">
                <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
                <li><span class="pagination-ellipsis">&hellip;</span></li>
                <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
                <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
                <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
                <li><span class="pagination-ellipsis">&hellip;</span></li>
                <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
              </ul>
            </nav>

          </div>
        </section>


{% endblock body %}