{% extends 'base.html' %}
{% load bulma_tags %}
{% load static %}
{% block title %} Password Reset {% endblock title %}

{% block body %}


<body style="background-image: url({% static 'img/bg1.jpg' %});">
<div class="form-group" style="padding-top: 50px;">
    <section class="">
        <div class="tile is-parent " style="padding-top: 40px; padding-left: 200px; padding-right: 200px; ">
            <article class="tile is-child box">
              <p class="title has-text-centered"></p>
              <div class="content">
                <form method="POST">

                    {% csrf_token %}
                    {{ form|bulma }}

                    <center>
                    <button type="submit" value="Submit" class="button is-rounded is-halfwidth is-link is-outlined">Reset Password</button>
                    </center>

                </form>
                </div>
                </article>
        </div>
    </section>
</div>
<br>
</body>

{% endblock %}