{% extends 'base.html' %}
{% load bulma_tags %}
{% load static %}
{% block title %} Password Reset {% endblock title %}

{% block body %}


<body style="background-image: url({% static 'img/bg1.jpg' %});">
<div class="form-group" style="padding-top: 50px;">
    <section class="">
        <div class="tile is-parent " style="padding-top: 40px; padding-left: 200px; padding-right: 200px; ">
            <article class="tile is-child box">
              <p class="title has-text-centered">Password Reset Sent</p>
              <div class="content" style="font-size: large; font-weight: bold;">
                  <ul>
                  <li>
                    We've emailed you instructions for setting your password, if an account exists with
                    the email you entered. You should receive them shortly.
                  </li>
                  <br>
                  <li>
                    If you dont receive an email, please make sure you've entered the address you registered 
                    with, and check your spam folder.
                  </li>
                  </ul>
                </div>
                </article>
        </div>
    </section>
</div>
<br>
</body>

{% endblock %}