{% extends 'base.html' %}
{% load bulma_tags %}
{% load static %}
{% block title %} Password Reset {% endblock title %}

{% block body %}


<body style="background-image: url({% static 'img/bg1.jpg' %});">
<div class="form-group" style="padding-top: 50px;">
    <section class="">
        <div class="tile is-parent " style="padding-top: 40px; padding-left: 200px; padding-right: 200px; ">
            <article class="tile is-child box">
              <p class="title has-text-centered">Password Reset Complete</p>
              <div class="content has-text-centered" style="font-size: large;">
                Your password has been sent. You may go ahead and log in now.
                <p>
                <br>
                <a href="{% url 'accounts:login' %}">
                 <button type="submit" value="Submit" class="button is-success">Login</button>
                </a>
                </p>
              </div>
            </article>
        </div>
    </section>
</div>
<br>
</body>

{% endblock %}